<ion-content *ngIf="weeklyInfo" class="small-bricks">
  <ion-grid class="ion-grid">
    <ion-row>
      <ion-col class="day-content" *ngIf="weeklyInfo[0]"  (click)="getMoreInfo(weeklyInfo[0])">
        <label>{{weeklyInfo[0].day}}</label>
        <ion-icon class="icon-brick" name="{{weeklyInfo[0].icon}}"></ion-icon>
        <p class="tempLabel">{{weeklyInfo[0].temperatureMax}} °C</p>
      </ion-col>
      <ion-col class="day-content" *ngIf="weeklyInfo[1]" (click)="getMoreInfo(weeklyInfo[1])">
        <label>{{weeklyInfo[1].day}}</label>
        <ion-icon class="icon-brick" name="{{weeklyInfo[1].icon}}"></ion-icon>
        <p class="tempLabel">{{weeklyInfo[1].temperatureMax}} °C</p>
      </ion-col>
      <ion-col class="day-content" *ngIf="weeklyInfo[2]" (click)="getMoreInfo(weeklyInfo[2])">
        <label>{{weeklyInfo[2].day}}</label>
        <ion-icon class="icon-brick" name="{{weeklyInfo[2].icon}}"></ion-icon>
        <p class="tempLabel">{{weeklyInfo[2].temperatureMax}} °C</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="day-content" *ngIf="weeklyInfo[3]" (click)="getMoreInfo(weeklyInfo[3])">
        <label>{{weeklyInfo[3].day}}</label>
        <ion-icon class="icon-brick" name="{{weeklyInfo[3].icon}}"></ion-icon>
        <p class="tempLabel">{{weeklyInfo[3].temperatureMax}} °C</p>
      </ion-col>
      <ion-col class="day-content" *ngIf="weeklyInfo[4]" (click)="getMoreInfo(weeklyInfo[4])">
        <label>{{weeklyInfo[4].day}}</label>
        <ion-icon class="icon-brick" name="{{weeklyInfo[4].icon}}"></ion-icon>
        <p class="tempLabel">{{weeklyInfo[4].temperatureMax}} °C</p>
      </ion-col>
      <ion-col class="day-content" *ngIf="weeklyInfo[5]" (click)="getMoreInfo(weeklyInfo[5])">
        <label>{{weeklyInfo[5].day}}</label>
        <ion-icon class="icon-brick" name="{{weeklyInfo[5].icon}}"></ion-icon>
        <p class="tempLabel">{{weeklyInfo[5].temperatureMax}} °C</p>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
