.small-bricks{
  .icon-brick{
    font-size: 60px;
  }
  color: white;
  .ion-grid{
    width: 25em;
  }
  .scroll-content{
    margin:0;
  }
  background-color: #4d4d4d;
  margin-top: 10px;

  .day-content{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: #ff7d11;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;

    //width: 30%;
    height: 10em;
    font-size:20px;
    text-align: center;
  }
}
