.home-header{
  text-align: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

  color: #8c8c8c;

  .navbar{
    background-color: #4d4d4d;
  }
}
.home-content{
  background-color: #4d4d4d;
  color: white;
  padding: 100px;

  #search-label{
    color: black;
    margin-bottom: 4px;
  }
}
