<ion-header class="home-header">
  <ion-navbar color="gray" class="navbar">
    <ion-title>Meteo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="home-content">
  <ion-searchbar [(ngModel)]="msg" id="search-label" (click)="showAddressModal()"></ion-searchbar>
  <!--<p *ngIf="meteo.currently.temperature">Temp : {{meteo.currently.temperature}}</p>-->
  <!--<ion-list>
     <ion-item *ngFor="let item of items">
        {{ item }}
  </ion-item>
</ion-list>
<button ion-button (click)="geolocate()">Get Location</button>-->
  <large-brick #largeBrick></large-brick>
  <small-bricks #smallBricks></small-bricks>

</ion-content>
