<ion-content padding class="large-brick">
  <p>{{date}}</p>
  <div>
    <ion-icon id="icon-brick" name="{{iconLabel}}"></ion-icon>

    <p id="tempLabel" *ngIf="weatherData">{{weatherData.currently.temperature}} °C</p>
  </div>
  <label>{{time}}:</label>
  <label *ngIf="weatherData">{{weatherData.currently.summary}}</label>


</ion-content>
