.scroll-content{
  margin: 10px;
}
.large-brick{
  background-color: #ff7d11;
  width: 100%;
  height: 10em;
  color: white;
  font-size: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  overflow-y: hidden;
  overflow-x: hidden;
  #tempLabel{
    font-size: 30px;
  }
  p{
    display: inline-block;
    margin: 0;
  }
  #icon-brick{
    margin-right: 20px;
    font-size: 70px;
  }
  div{
    display: inherit;
  }
}
